$btn-color: blue;
$h1-font-size: 3rem;
$navbar-dark-color: rgba(white, 0.55);
$navbar-dark-hover-color: rgba(blue, 0.75);
$navbar-dark-active-color: yellow;
$table-bg: var(--#{--bs-bg-dark}body-bg);
$table-color: var(--#{--bs-color-light}emphasis-color);
$hr-color: white;