@media (max-width: 576px) {
  h1 {
    font-size: 3rem !important;
    text-align: center;
  }
  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  h3 {
    font-size: 2.4rem;
    text-align: center;
  }
  h4 {
    font-size: 1.8rem;
    text-align: center;
  }
  h5 {
    font-size: 2.2rem;
    text-align: center;
  }
  h6 {
    font-size: 2.1rem;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
  }

  .firstBrand {
    display: none;
  }

  .secondBrand {
    display: block;
    font-size: 2rem;
  }

  .heroMain {
    padding: 30px;
  }

  .heroMain dotlottie-player {
    width: 100% !important;
    margin-bottom: 50px;
  }

  .card {
    width: 80%;
  }

  dotlottie-player {
    width: 80% !important;
    height: 80% !important;
  }

  .back-content strong {
    font-size: 1.7rem;
  }

  .skillsLogo {
    margin: 15px;
  }

  .navbar-toggler-icon {
    width: 1.8em;
    height: 1.8em;
  }
  .menuSocialIcons a,
  .menuSocialIcons svg {
    font-size: 1.5rem !important;
    height: 3.5rem;
  }
  footer a.nav-link.px-2 {
    font-size: 1.17rem;
  }

  .timeLineCard {
    width: 100% !important;
  }
}

@media (max-width: 768px) {


  .heroMain {
    padding: 30px;
  }

  .heroMain dotlottie-player {
    width: 100% !important;
    margin-bottom: 50px;
  }

  .card {
    width: 80%;
  }

  dotlottie-player {
    width: 80% !important;
    height: 80% !important;
  }

  .back-content strong {
    font-size: 1.7rem;
  }

  .skillsLogo {
    margin: 15px;
  }

  .navbar-toggler-icon {
    width: 1.8em;
    height: 1.8em;
  }
  .menuSocialIcons a,
  .menuSocialIcons svg {
    font-size: 1.5rem !important;
    height: 3.5rem;
  }
  footer a.nav-link.px-2 {
    font-size: 1.17rem;
  }

  .timeLineCard {
    width: 100% !important;
  }
}

@media (max-width: 992px) {
  .personalInformation {
    border-left: none;
    padding-left: 5px;
  }
}

@media (max-width: 1026px) {
  .firstBrand {
    display: none;
  }

  .secondBrand {
    display: block;
    font-size: 2rem;
  }

  .heroMain {
    padding: 10px;
  }

  .heroMain dotlottie-player {
    width: 100% !important;
    margin-bottom: 50px;
  }

  .card {
    width: 90%;
    height: 450px;
  }

  .timeLineCard {
    width: 80%;
    height: fit-content;
  }

  dotlottie-player {
    width: 80% !important;
    height: 80% !important;
  }

  .back-content strong {
    font-size: 1.7rem;
  }

  .skillsLogo {
    margin: 15px;
  }

  .navbar-toggler-icon {
    width: 1.8em;
    height: 1.8em;
  }
  .menuSocialIcons a,
  .menuSocialIcons svg {
    font-size: 1.5rem !important;
    height: 3.5rem;
  }
  footer a.nav-link.px-2 {
    font-size: 1.17rem;
  }
}

@media (min-width: 1027px) {
  .firstBrand {
    display: block;
  }

  .secondBrand {
    display: none;
    font-size: 2rem;
  }
}
