.topProfileBox {
  text-align: center;
}
.profileImage {
  min-width: 300px;
  max-width: 350px;
  border-radius: 50% 0;
}

.resume {
  background: white;
  padding: 30px;
  font-weight: 500;
}

.resume .lead {
  background: white;
  padding: 30px;
  font-weight: 500;
}

.progress {
  margin-top: 10px;
  margin-bottom: 10px;
}

.progressTitles {
  color: white;
}

.resumeHeader {
  background-image: url(/src/images/nasa-1lfI7wkGWZ4-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
